*.iml
.gradle
/gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/libs/cordova*.jar
/app/src/main/assets/www/nunaliit2
/app/src/main/assets/www/js-external
/.settings/
/.project
/release.keystore
