<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.carleton.gcrc.n2android_mobile1"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".N2AndroidApplication">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EmbeddedCordovaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cordova"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.ConnectionListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/manage_connections"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity
            android:name=".activities.ConnectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/connection"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".activities.ConnectionListActivity">
        </activity>

        <activity
            android:name=".activities.AddConnectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_connection"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".activities.ConnectionListActivity">
        </activity>

        <service
            android:name=".couchbase.CouchbaseLiteService"
            android:label="@string/database_service">

        </service>

        <service
            android:name=".connection.ConnectionManagementService"
            android:label="@string/connection_management_service">
        </service>

        <provider
            android:name="org.apache.cordova.camera.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_provider_paths"/>
        </provider>
    </application>
</manifest>
